@import '../../gulp/node_modules/normalize.css/normalize';
@import '../../gulp/node_modules/slick-carousel/slick/slick';
@import '_variables';
@import '_mixin';
@import '_media';


@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueBoldCondensed';
	src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
		url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff');
	font-display: swap;
}


html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit
}

body {
	background-color: rgb(25, 25, 25);
	color: #fff;
	font-family: 'HelveticaNeueCyr-Roman';
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
	padding-left: 0;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}


//! HEADER

.wrapper__img {
	position: absolute;
	z-index: -1000;
	width: calc(100vw - (100vw - 100%));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header {
	position: relative;
}

.header::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: calc(100vw - (100vw - 100%));
	background-color: #fff;
	opacity: 0.1;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.logo {
	font-family: 'HelveticaNeueBoldCondensed';
	color: $second-color;
	text-transform: uppercase;
	padding-left: 34px;
	position: relative;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 2px;
}

.logo::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 24px;
	background-image: url(../img/logo.svg);
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo__link {
	margin: auto 0;
}

.nav {

	&__list {
		margin: 0;
	}

	&__list-item {
		display: inline-block;
	}

	&__list-item+&__list-item {
		padding-left: 41px;
	}

	&__list-link {
		text-transform: capitalize;
		font-size: 14px;
		line-height: 90px;
		font-weight: bold;
		transition: all .3s;
		padding: 2px;
	}

	&__list-link:hover {
		color: $second-color;
	}
}


//! BEST

.best {

	&__inner {
		@extend %center;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 165px;
	}

	&__title {
		font-size: 72px;
		line-height: 84px;
		font-weight: 100;
		letter-spacing: 0.1em;
		margin: 0;

		span {
			font-family: 'HelveticaNeueBoldCondensed';
			font-weight: bold;
			text-transform: capitalize;
		}
	}

	&__suptitle {
		font-size: 16px;
		line-height: 26px;
		margin: 0;
		letter-spacing: -0.2px;
		opacity: 0.6;
	}

	&__button {
		color: #000;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		background-color: $second-color;
		padding: 25px 57px;
		margin-top: 40px;
		margin-bottom: 70px;
		border-radius: 43px;
	}
}

.info {
	display: flex;
	justify-content: space-between;
	width: 100%;


	&__item {
		padding-top: 30px;
		width: 200px;
		position: relative;
	}

	&__item::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		background-size: cover;
		background-repeat: no-repeat;
	}

	&__time::before {
		background-image: url(../img/time.svg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
	}

	&__phone::before {
		background-image: url(../img/tel.svg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
	}

	&__addres::before {
		background-image: url(../img/addres.svg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
	}

	&__item-title {
		font-size: 16px;
		line-height: 30px;
		margin: 0;
		font-weight: 100;
	}

	&__item-suptitle {
		font-size: 14px;
		line-height: 56px;
		padding: 2px;
		margin: 0;
		opacity: 0.5;
	}
}


//! ABOUT
.about {

	&__inner {
		@extend %center;
		min-width: 0;
		padding: 60px 0 90px;
		text-align: center;
		background-color: $primary-color;
		border-radius: 6px;
	}

	&__title {
		font-family: 'HelveticaNeueBoldCondensed';
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		letter-spacing: 0.1em;
		color: #303030;
		position: relative;
		margin: 0;
		text-transform: uppercase;
	}

	&__text {
		color: #A6A6A6;
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 90px;
	}

	&__title::before {
		content: 'The Basics Of Healthy Food';
		font-family: 'HelveticaNeueCyr-Roman';
		letter-spacing: 0.2em;
		width: 170%;
		color: #D9D9D9;
		font-weight: normal;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: #D9D9D9;
		text-transform: capitalize;
	}
}

.slider__img {
	width: 350px;
	height: 270px;
}

.slick-list {
	overflow: hidden;
	width: 768px !important;
}

.slick-track {
	display: flex;
	width: 768px !important;
}

.slick-slide {
	width: 350px !important;

}

.slick-slide+.slick-slide {
	margin-left: 34px;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	border: none;
	width: 60px;
	height: 60px;
	font-size: 0;
	border-radius: 50%;
	cursor: pointer;
}

.slick-next {
	right: -10%;
	background-image: url(../img/arrow-next.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.slick-prev {
	left: -15%;
	background-image: url(../img/arrow-prev.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

//! WORK
.work {

	&__inner {
		@extend %center
	}

	&__title {
		font-family: 'HelveticaNeueBoldCondensed';
		text-align: center;
		font-weight: bold;
		font-size: 100px;
		line-height: 150px;
		letter-spacing: 0.1em;
		color: #303030;
		text-transform: uppercase;
		position: relative;
		margin: 90px 0;

	}

	&__title::before {
		content: 'how it works';
		font-family: 'HelveticaNeueCyr-Roman';
		letter-spacing: 0.2em;
		width: 100%;
		color: #D9D9D9;
		font-weight: normal;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: #D9D9D9;
		text-transform: capitalize;
	}

	&__title::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #34C759;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 90px;
	}

	&__item {
		width: 255px;
		height: 206px;
		background-color: $primary-color;
		border-radius: 6px;
		transition: all .3s;
	}

	&__item-title {
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		margin: 0;
		margin: 24px;
		padding-bottom: 10px;
		position: relative;
		transition: all .3s;
	}

	&__item-title::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		bottom: 0;
		left: 0;
		transition: all .3s;
		background-color: #34C759;
	}

	&__item-text {
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
		padding: 24px;
		margin: 0;
		transition: all .3s;

	}

	&__item--hover {
		background-color: $second-color !important;
	}

	&__item-title--hover {
		color: #000 !important;
	}

	&__item-text--hover {
		color: #000 !important;
	}

	&__item-title--hover::after {
		background-color: #000;
	}
}

//! DISHES
.dishes {

	&__inner {
		@extend %center
	}

	&__title {
		font-family: 'HelveticaNeueBoldCondensed';
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		color: #303030;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		position: relative;
		margin: 0;
		margin-bottom: 60px;
	}

	&__title::before {
		content: 'Dish Of The Day';
		font-family: 'HelveticaNeueCyr-Roman';
		letter-spacing: 0.2em;
		width: 100%;
		color: #D9D9D9;
		font-weight: normal;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-43%);
		color: #D9D9D9;
		text-transform: capitalize;
	}

	&__title::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #34C759;
	}

	&__wrapper {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(3, 1fr);
	}

	&__item {
		border-radius: 6px;
		background-color: $primary-color;
		padding-bottom: 30px;

		&-img {
			width: 100%;
			height: 260px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 6px 6px 0 0;
			position: relative;
		}

		&-img::after {
			content: "";
			position: absolute;
			width: 40px;
			height: 40px;
			background-image: url(../img/share.svg);
			cursor: pointer;
			top: 24px;
			right: 24px;
		}

		&-title {
			font-size: 32px;
			line-height: 30px;
			color: #D9D9D9;
			margin: 30px 30px 0 30px;
		}

		&-suptitle {
			margin: 0 30px;
			letter-spacing: -0.15px;
			font-weight: normal;
			font-size: 12px;
			line-height: 16px;
			color: #A4A8B2;
		}

		&-description {
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.1625px;
			color: #85878C;
			margin: 20px 30px 26px 30px;
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 0 30px;
		}
	}
}

.vote {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

	&__rate {
		display: flex;
		align-items: center;
		font-weight: 900;
		font-size: 12px;
		line-height: 30px;
		letter-spacing: 1.5px;
		color: #B3B3B3;
		margin: 0;
	}
}

.star {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	list-style: none;
	padding: 5px;
}

// .star:hover{
// 	background-image: url(../img/star-hov.svg);
// }

.order {
	border: 2px solid #303030;
	border-radius: 30px;
	padding: 0 32px;
	font-weight: 900;
	margin-left: 15px;
	font-size: 10px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	transition: all .3s;
	opacity: 0.5;
}

.order:hover {
	background-color: $second-color;
	color: #000;
	opacity: 1;
}


//! CHEFS
.chefs {
	&__inner {
		padding-top: 90px;
		padding-bottom: 120px;
		@extend %center
	}

	&__title {
		font-family: 'HelveticaNeueBoldCondensed';
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		color: #303030;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		position: relative;
		margin: 0;
		margin-bottom: 60px;
	}

	&__title::before {
		content: "This month's chefs";
		font-family: 'HelveticaNeueCyr-Roman';
		letter-spacing: 0.2em;
		width: 120%;
		color: #D9D9D9;
		font-weight: normal;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		color: #D9D9D9;
		text-transform: capitalize;
	}

	&__title::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #34C759;
	}

	&__items {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	&__item {
		width: 100%;
		display: flex;
		flex-direction: column;

		&-header {
			display: flex;
			align-items: center;
		}

		&-avatar {
			border-radius: 50%;
			width: 65px;
			height: 65px;
			margin-right: 24px;
		}

		&-initial {
			margin: 0;
			margin-bottom: 6px;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: -0.225px;
			text-transform: capitalize;
		}

		&-description {
			font-size: 12px;
			line-height: 16px;
			letter-spacing: -0.15px;
			margin: 0;
			opacity: 0.5;
		}

		&-wrapper {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-gap: 30px;
			padding-top: 24px;
		}

		&-img {
			border-radius: 2px;
			height: 65px;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&__item+&__item {
		padding-left: 30px;
	}
}


//! RECIPES
.recipes {
	&__inner {
		@extend %center
	}

	&__title {
		font-family: 'HelveticaNeueBoldCondensed';
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		color: #303030;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		position: relative;
		margin: 0;
		margin-bottom: 60px;
	}

	&__title::before {
		content: "Recipes From Our Chefs";
		font-family: 'HelveticaNeueCyr-Roman';
		letter-spacing: 0.2em;
		width: 120%;
		color: #D9D9D9;
		font-weight: normal;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-46%);
		color: #D9D9D9;
		text-transform: capitalize;
	}

	&__title::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #34C759;
	}


	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__form {
		display: flex;
		justify-content: space-between;
	}

	&__big {
		margin-right: 10px;
		background-image: url(../img/big-recipes.png);
		width: 50%;
		@extend %center;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 6px;
		text-align: center;

		&-subtitle {
			font-weight: 900;
			font-size: 10px;
			line-height: 25px;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			background: rgba(0, 0, 0, 0.3);
			padding: 0 16px;
			border-radius: 3px;
			margin: 0;
			margin-bottom: 65px;
			margin-top: 60px;
		}

		&-data {
			font-weight: normal;
			font-size: 14px;
			line-height: 30px;
			margin: 0;
			margin-bottom: 25px;
		}

		&-title {
			font-weight: normal;
			font-size: 24px;
			line-height: 40px;
			margin: 0;
			margin-bottom: 45px;
		}

		&-name {
			font-weight: normal;
			font-size: 14px;
			line-height: 30px;
			margin: 0;
			text-transform: capitalize;
			margin-bottom: 60px;
		}

	}

	&__small {
		border-radius: 6px;
		background-image: url(../img/small-recipes.png);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: left;
		@extend %center;
		padding: 0 35px;

		&-suptitle {
			font-weight: 900;
			font-size: 10px;
			line-height: 25px;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			background: #000;
			border-radius: 3px;
			margin: 0;
			padding: 0 6px;
			text-align: center;
			color: #fff;
		}

		&-title {
			font-weight: normal;
			font-size: 16px;
			line-height: 30px;
			margin: 30px 0 10px;
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 25px;
		}

		&-info {
			display: flex;
			align-items: center;
		}

		&-data {
			text-align: center;
			margin: 0;
			margin-left: 15px;
		}

		&-items {
			width: 50%;
			margin-left: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__small:first-child {
		background-color: $primary-color;
	}

	&__small:last-child {
		background-color: $second-color;
		color: #000 !important;
	}

	&__small+&__small {
		margin-top: 30px;
	}
}

.closer {
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: #000;
	background-image: url(../img/closer.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.watch,
.comment {
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	padding-left: 38px;
	margin: 0;
}

.watch+.comment {
	margin-left: 30px;
}


//! SOCIAL

.social {
	&__inner {
		@extend %center;
		padding: 90px 0 120px;
	}

	&__items {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	&__title {
		font-family: 'HelveticaNeueBoldCondensed';
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		color: #303030;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		position: relative;
		margin: 0;
		margin-bottom: 60px;
	}

	&__title::before {
		content: "We in Social";
		font-family: 'HelveticaNeueCyr-Roman';
		letter-spacing: 0.2em;
		width: 100%;
		color: #D9D9D9;
		font-weight: normal;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-34%);
		color: #D9D9D9;
		text-transform: capitalize;
	}

	&__title::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $second-color;
	}

	&__item+&__item {
		margin-left: 27px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		background-color: $primary-color;
		width: 33%;
		border-radius: 9px;
	}

	&__header {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		position: relative;
	}

	&__name {
		font-weight: normal;
		font-size: 14px;
		line-height: 30px;
		color: #BFBFBF;
		text-transform: capitalize;
		margin: 0;
		padding-left: 60px;
		position: relative;
	}

	&__time {
		font-size: 14px;
		line-height: 30px;
		color: #737373;
		margin-top: 15px;
	}

	&__link {
		font-family: 'HelveticaNeueBoldCondensed';
		font-weight: 900;
		font-size: 10px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #737373;
		padding: 0 19px;
		border: 2px solid #303030;
		border-radius: 30px;
	}

	&__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.6);
		margin: 0;
	}

	&__user {
		color: $second-color;
		font-size: 14px;
		line-height: 30px;
	}

	&__item:first-child,
	&__item:last-child {
		padding: 0 30px;
	}

	&__img {
		width: 33.3%;

		&-items {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
		}
	}

	&__img:nth-child(4) {
		border-bottom-left-radius: 9px;
	}

	&__img:last-child {
		border-bottom-right-radius: 9px;
	}

	&__item:first-child>&__header>&__name::before,
	&__item:last-child>&__header>&__name::before,
	.inst>.social__header>.social__name::before {
		content: "";
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		transform: translateY(-50%);
		left: -5%;
	}

	&__item:first-child>&__header>&__name::before {
		background-image: url(../img/twitter.svg);
	}

	&__item:last-child>&__header>&__name::before {
		background-image: url(../img/facebook.svg);
	}

	.inst>.social__header>.social__name::before {
		background-image: url(../img/instagram.svg);
	}

	&__item:last-child>&__time {
		line-height: 60px !important;
		margin-top: 0 !important;
	}

	&__item:first-child>&__header::after,
	&__item:last-child>&__header::after {
		content: '';
		position: absolute;
		width: calc(100% + 60px);
		height: 2px;
		background-color: #303030;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.inst>.social__header {
	padding: 20px 30px;
}


//! FOOOTER
.info-footer {
	background-color: $primary-color;
	padding: 30px 0;
	text-align: center;
	border-bottom: 2px solid #303030;
}

.footer {
	background-color: $primary-color;
	text-align: center;
	padding: 30px 0 15px;
	@extend %center
}

.copyright {
	font-size: 12px;
	line-height: 60px;
	margin: 0;
	color: #737373;
}

// @include media-laptop{

// }

@include media-tablet-horizontal {
	.header__inner {
		padding: 0 40px;
	}

	.slick-list {
		width: 384px !important;
	}

	.slick-prev {
		left: -20%;
	}

	.slick-prev {
		left: -20%;
	}

	.slick-next {
		right: -20%;
	}

	.work__items {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.work__item {
		margin: 20px 5%;
	}

	.social__item:first-child,
	.social__item:last-child {
		padding: 0 15px;
	}

	.inst>.social__header {
		padding: 20px 15px;
	}

	.social__item:first-child>.social__header::after,
	.social__item:last-child>.social__header::after {
		width: calc(100% + 30px);
	}

	.slick-list {
		width: 350px !important;
	}

	.slick-slide+.slick-slide {
		margin-left: 0px;
	}
}

@include media-tablet {
	.best__title {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 15px;
	}

	.best__inner {
		padding-bottom: 50px;
	}

	.work__title {
		margin-bottom: 30px;
	}

	.work__items {
		margin-bottom: 50px;
	}

	.dishes__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.chefs__item-wrapper {
		grid-gap: 10px;
	}

	.social__img {
		width: 50%;
	}

	.social__img:nth-child(4) {
		border: none;
	}

	.social__img:nth-child(5) {
		border-bottom-left-radius: 9px;
	}

	.social__name {
		padding-left: 40px;
	}

	.social__link {
		line-height: 20px;
		margin-left: 10px;
	}
}

@include media-phone {
	.header__inner {
		flex-direction: column;
		align-items: center;
	}

	.logo__link {
		margin-top: 20px;
	}

	.nav__list-item+.nav__list-item {
		padding-left: 0;
	}

	.nav__list {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.nav__list-link {
		line-height: 60px;
	}

	.info__item+.info__item {
		margin-left: 10px;
	}

	.about,
	.work,
	.dishes,
	.chefs,
	.recipes,
	.social {
		&__title {
			font-size: 80px;
		}

		&__title::before {
			display: none;
		}
	}

	.slick-arrow {
		display: none !important;
	}

	.slider__img {
		width: 300px;
		height: 230px;
	}

	.slick-list {
		width: 300px !important;
		height: 230px;
		border-radius: 3px;
	}

	.dishes__wrapper {
		display: flex;
		flex-direction: column;
	}

	.chefs__items {
		flex-direction: column;
	}

	.chefs__item+.chefs__item {
		padding-left: 0;
		margin-top: 40px;
	}

	.chefs__inner {
		padding-bottom: 90px;
	}

	.recipes__wrapper {
		flex-direction: column;
	}

	.recipes__big {
		width: 100%;
	}

	.recipes__small-items {
		width: 100%;
		margin-left: 0;
		margin-top: 60px;
	}

	.social__items {
		flex-direction: column;
	}

	.social__item {
		width: 100%;
	}

	.social__item:first-child,
	.social__item:last-child {
		padding-bottom: 20px;
	}

	.social__item+.social__item {
		margin-left: 0;
		margin-top: 50px;
	}
	.info-footer{
		padding-bottom: 10px;
	}
	.footer {
		padding-top: 0;
	}
}